@model IEnumerable<AptOnly.Models.Apartment>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col text-center m-3 border-bottom">
            @if (Model != null && Model.Count() > 0)
            {
                <h2>Banesat tuaja</h2>
            }
            else
            {
                <h2>Nuk keni banesa</h2>
            }
            <a asp-action="Create" class="btn btn-light border m-2">Shto nje</a>
        </div>

    </div>
    <div class="row">


        @foreach (var a in Model)
        {
        <div class="card m-2" style="width: 22rem;">
            <img src="~/images/@a.Image" class="card-img-bottom p-2" alt="" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title">Banesa<span class="badge badge-@(a.IsRenting ? "primary" : "warning" )">@(a.IsRenting ? "Me qera" : "Ne shitje")</span></h5>
                <p class="card-text">@a.Status.Description</p>
                <p class="card-text font-weight-bold">@a.Address.City.CityName @a.Address.VillageName</p>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kati: @a.Floor</li>
                <li class="list-group-item">Dhoma: @a.Bedroom</li>
                <li class="list-group-item">Banjo: @a.BathRoom</li>
                <li class="list-group-item">Metra Katror: @a.M2</li>
                <li class="list-group-item">Cmimi per Meter Katror: @a.PricePerM2 Euro</li>
                <li class="list-group-item">Cmimi Total: @a.GetTotalPrice() Euro</li>
            </ul>
            <div class="card-body">

            </div>
            <div class="card-footer text-center">
                <div class="btn-group btn-block">
                    <a asp-action="Details" asp-route-id="@a.ApartmentId" class="card-link btn btn-info">Detajet</a>
                    <a asp-action="Edit" asp-route-id="@a.ApartmentId" class="card-link btn btn-warning">Editoje</a>
                    <a asp-action="Delete" asp-route-id="@a.ApartmentId" class="card-link btn btn-danger">Fshije</a>
                </div>
            </div>
        </div>
        }

    </div>
</div>
