@model AptOnly.Models.Address

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StreetName1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetName1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetName2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetName2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VillageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VillageName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AddressId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
